<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />    
    </startup>
    <appSettings>
        <!--Data Sources -->		
		    <add key="DSN" value="server=xxx;uid=xxx;pwd=xxx;database=xxx"/>
        <add key="ftpUsername" value="xxx"/>
        <add key="ftpPassword" value="xxx"/>
        <add key="ftpURL" value="xxx"/>
        <add key="ftpPort" value="xxx"/>
    </appSettings>
</configuration>