<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />    
    </startup>
    <appSettings>      		  
      <add key="ftpUsername" value="grupoel1"/>
      <add key="ftpPassword" value="marcos881229"/>
      <add key="ftpURL" value="ftp://tecnic.co"/>
      <add key="ftpPort" value="21"/>
      <add key="itemsPath" value="/public_html/ETL/items/"/>
      <add key="HasCSVHeader" value="True"/>
    </appSettings>
    <connectionStrings>
      <add name="testETL"
           connectionString="Dsn=ETL;Trusted_Connection=Yes" providerName="System.Data.Odbc"
       />    
    </connectionStrings>
</configuration>