<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />    
    </startup>
    <appSettings>      		  
      <add key="ftpUsername" value="grupoel1"/>
      <add key="ftpPassword" value="marcos881229"/>
      <add key="ftpURL" value="ftp://tecnic.co"/>
      <add key="ftpPort" value="21"/>            
      <add key="HasCSVHeader" value="False"/>      
    </appSettings>
    <connectionStrings>
      <add name="ETL" connectionString="Dsn=ETL;Trusted_Connection=Yes" providerName="System.Data.Odbc"/>    
    </connectionStrings>
</configuration>